<template>
  <div class="main-page-container">
    <div class="top-banner text-center mb-10">
      <v-row>
        <v-col cols="1">
          <img :src="`${publicPath}sminem.png`" width="100px" class="ml-4">
        </v-col>

        <v-col cols="10">
          <div style="font-size: 3em; font-weight: 400;">Where lambo?</div>
          <div style="margin-top: -8px; font-size: 0.9em; font-weight: 300;">the digital cryptocurrency investment consultant</div>
        </v-col>

        <v-col cols="1">
          
        </v-col>
      </v-row>
    </div>
    
    <InvestmentForm/>
  </div>
</template>

<script>
import InvestmentForm from "../components/InvestmentForm";

export default {
  name: 'MainPage',
  components: {
    InvestmentForm
  },

  data () {
    return {
      publicPath: process.env.BASE_URL
    }
  }
}
</script>


<style>
.main-page-container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 300px;
  padding-right: 300px;
}

.top-banner {
  background-color: sienna;
  border-radius: 15px;
}

</style>
